<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<description>
		提供给业务服务层的缓存服务
	</description>
	
	<!-- redis -->
	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory"/>       
    </bean>
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory"/>       
    </bean>

    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>
	
	<bean id="redisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
          <constructor-arg ref="redisSentinelConfig" />
          <constructor-arg ref="poolConfig"></constructor-arg>
          <property name="password" value="${redis.client.password}"/>
    </bean>
    <bean id="redisSentinelConfig" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
    	<constructor-arg name="master" value="mymaster" />
	    <constructor-arg name="sentinelHostAndPorts">
	      <set>
	      		<value>${redis.sentinel.1.host}:${redis.sentinel.1.port}</value>
		        <value>${redis.sentinel.2.host}:${redis.sentinel.2.port}</value>
	      </set>
	    </constructor-arg>    	
    </bean>
    	
</beans>  
